@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: #F9C06A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('/fonts/AbhayaLibre-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Infant';
  src: url('/fonts/CormorantInfantRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clicker Script';
  src: url('/fonts/ClickerScriptRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fairplay Display';
  src: url('/fonts/PlayfairDisplayRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-cormorant {
  font-family: 'Cormorant Infant', serif !important;
}

.border-color {
  border-color: var(--border);
}